name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        rust-channel:
        - stable
        - nightly
        os:
        - ubuntu-latest
        - windows-latest
        - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Setup Rust ${{ matrix.rust-channel }}
      run: rustup override set ${{ matrix.rust-channel }}
    - name: Build
      run: cargo build --verbose
    # No tests right now
    # - name: Run tests
    #   run: cargo test --verbose
